/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
	background: #ffffff;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}
/*--------------------*/

.zagolovok {
	font-size: 30px;
	font-family: "Arial";
	color: rgb(68, 81, 97);
	line-height: 1;
	text-align: right;
	position: absolute;
	padding-left: 50px;
	top: 80.255px;
	z-index: 16;
}

.new1 {
	font-size: 14px;
	font-family: "Arial";
	color: rgb(51, 51, 51);
	line-height: 1.786;
	text-align: left;
	position: absolute;
	padding-left: 49px;
	top: 126.986px;
	width: 100%;
	height: 39px;
	z-index: 4;
}

.new2 {
	font-size: 25px;
	font-family: "Arial";
	color: rgb(68, 81, 97);
	line-height: 1.2;
	text-align: left;
	position: absolute;
	padding-left: 51px;
	top: 190.046px;
	z-index: 17;
}

.new3 {
	font-size: 14px;
	font-family: "Arial";
	color: rgb(51, 51, 51);
	line-height: 1;
	text-align: left;
	position: absolute;
	padding-left: 52px;
	top: 221.986px;
	width: 100%;
	height: 15px;
	z-index: 14;
}

.new4 {
	font-size: 14px;
	font-family: "Arial";
	color: rgb(255, 0, 0);
	line-height: 1;
	text-align: left;
	position: absolute;
	padding-left: 51px;
	top: 256.986px;
	width: 100%;
	height: 14px;
	z-index: 15;
}

.Homework {
	font-size: 20px;
	font-family: "Arial";
	color: rgb(68, 81, 97);
	line-height: 1.5;
	text-align: left;
	position: absolute;
	padding-left: 49px;
	top: 308.837px;
	z-index: 18;
}

.textright {
	font-size: 14px;
	font-family: "Arial";
	color: rgb(51, 51, 51);
	line-height: 1;
	text-align: right;
	position: absolute;
	top: 335.986px;
	width: 100%;
	height: 14px;
	z-index: 5;
}

.new7 {
	font-size: 14px;
	font-family: "Arial";
	color: rgb(51, 51, 51);
	text-transform: uppercase;
	line-height: 1;
	text-align: left;
	position: absolute;
	padding-left: 49px;
	top: 372.568px;
	width: 100%;
	height: 15px;
	z-index: 6;
}

.new8 {
	font-size: 14px;
	font-family: "Arial";
	color: rgb(51, 51, 51);
	font-style: italic;
	line-height: 1;
	text-align: left;
	position: absolute;
	padding-left: 51px;
	top: 409.989px;
	width: 100%;
	height: 14px;
	z-index: 13;
}

.new9 {
	font-size: 14px;
	font-family: "Arial";
	color: rgb(51, 51, 51);
	text-decoration: underline;
	line-height: 1;
	text-align: left;
	position: absolute;
	padding-left: 50px;
	top: 444.986px;
	width: 100%;
	height: 15px;
	z-index: 7;
}

.textcentre {
	font-size: 14px;
	font-family: "Arial";
	color: rgb(51, 51, 51);
	line-height: 1;
	text-align: center;
	position: absolute;
	top: 481.986px;
	width: 100%;
	height: 14px;
	z-index: 8;
}

.new11 {
	font-size: 24px;
	font-family: "Arial";
	color: rgb(51, 51, 51);
	line-height: 1;
	text-align: left;
	position: absolute;
	padding-left: 49px;
	top: 527.404px;
	width: 100%;
	height: 22px;
	z-index: 9;
}

.new12 {
	font-size: 14px;
	font-family: "Arial";
	color: rgb(51, 51, 51);
	text-decoration: line-through;
	line-height: 1;
	text-align: left;
	position: absolute;
	padding-left: 50px;
	top: 553.986px;
	width: 100%;
	height: 14px;
	z-index: 10;
}

.new13 {
	font-size: 14px;
	font-family: "Times New Roman";
	color: rgb(51, 51, 51);
	line-height: 1;
	text-align: left;
	position: absolute;
	padding-left: 50px;
	top: 589.365px;
	width: 100%;
	height: 13px;
	z-index: 11;
}

.new14 {
	font-size: 14px;
	font-family: "Arial";
	color: rgb(51, 51, 51);
	line-height: 1;
	text-align: left;
	text-shadow: 0px 1px 6px rgb(0, 0, 0);
	position: absolute;
	padding-left: 49px;
	top: 620.986px;
	width: 100%;
	height: 17px;
	z-index: 12;
}
