/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}
/*--------------------*/

body {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 100%;
	background-color: #e8e8e8;
}

.content {
	margin-left: auto;
	margin-right: auto;
	width: 1440px;
	height: 1700px;
	display: block;
	text-align: center;
}

.img {
	display: inline-block;
	margin-top: 6.2%;
	width: 1190px;
	height: 1064px;
	background: url(../img/ellipse_1_copy_4.png) center/100% 100% no-repeat;
}
.travel {
	margin-top: 52px;
	margin-left: 529px;
	margin-right: 593px;
	max-width: 67px;
	max-height: 10px;
	display: block;
	opacity: 0.6;
	font-family: ArialMT;
	font-size: 14px;
	line-height: 40px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #273d46;
}
.text {
	margin-left: 205px;
	margin-right: 263px;
	max-height: 75px;
	display: inline-block;
	margin-top: 28px;
	font-family: TimesNewPSMT;
	font-size: 36px;
	line-height: 50px;
	font-weight: 400;
	color: #273d46;
}
.foto {
	margin-top: 77px;
	margin-right: 202px;
	margin-left: 147px;
	width: 821px;
	height: 541px;
	box-shadow: 0px 15px 65px 0px rgba(15, 15, 16, 0.15);
	padding: 10px;
	background-color: #fff;
}

.podval {
	display: inline-block;
	text-align: left;
	margin-left: 295px;
	margin-right: 370px;
	width: 736px;
}
.text2 {
	text-align: left;
	margin-top: -163px;
	width: 736px;
	height: 257px;
	opacity: 0.8;
	font-family: TimesNewRomanPSMT;
	font-size: 24px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.67;
	color: rgba(39, 61, 70, 0.8);
}

.spisok {
	margin-top: 64px;
	display: block;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 20px;
	line-height: 36px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
	line-height: 1.8;
}
.spisok li {
	background: url(../img/check_icon_37.png) left no-repeat;
	padding-left: 36px;
}

.list1 {
	text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.3);
	color: rgb(39, 61, 70);
}
.list2 {
	color: rgb(128, 183, 179);
}

.list3 {
	color: rgb(39, 61, 70);
}
.list4 {
	opacity: 0.3;
	color: #273d46;
	text-decoration: line-through;
}


.f-s {
}
.full-story {
}
